body{
    margin: 0;
}
.entête{
    display: flex;
    align-items: center;
    background: lightseagreen;
    height: 10vh;
    gap: 4rem;
    justify-content: center;
}
.titre-page{
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

.icon{
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    color: red;
}
.input-form{
    background: lightslategrey;
    border-radius: 1rem 1rem 1rem 1rem;
    width: 20rem;
    height: 2rem;
}
.input-form::placeholder{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
form{
    border: solid 2px black;
    background: lightseagreen;
    width: 30rem;
    height: fit-content;
}
.image-dimension{
    width: 5rem;
    height: 5rem;
}
.wrapper-news{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 5rem;
    flex-wrap: wrap;
}
.box-news{
    border: solid 2px black;
    border-radius: 1rem 1rem 1rem 1rem;
    padding: 4rem;
    color: white;
    font-size: 2rem;
    background-color: lightskyblue;
}
.main-container{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    min-width: 600px;
    height: 90vh;
    margin: auto;
    background-color: rgb(255, 255, 255);
    
}
.scrollContainer{
    overflow-x: hidden;
    overflow-y: scroll;
    border-top: 1px solid lightgray;
    height: 90vh;
}
.box-news >.icon{
    display: none;
}

.box-news:hover >.icon{
    cursor: pointer;
    display: block;
}
.fav-icon{
    width: 2rem;
    height: 2rem;
}